body{
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style:italic;
    font-weight: bold;
    color:#4281ed;
    text-align: center;
    text-decoration: underline;
    text-transform:capitalize;
}
p {
    text-align: justify;
    text-transform: uppercase;
    letter-spacing:2px;
    line-height:40px;
}