body{
    background: #f2f2f2;
    font-family: Arial;
}

h1, p, div{
    background: #ccc;
    padding: 10px;
    width: 500px;
    display: inline-block;
}

a{
    display: flex;
    padding: 10px;
    color:#fff;
    background: #000;
}
