<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Layout basica</title>
    <link rel="stylesheet" href="css/index.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"> 
    </head>
    <body>
      <div class="contenedor">
      <header>
        <nav>
            <ul>
                <li><a href="#">INICIO</a></li>
                <li><a href="#">NOSOTROS</a></li>
                <li><a href="#">CURSOS</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </nav>
      </header>

      <section class="main">
        <div class="imagen">
            <img src="img/Old_Nike_logo.jpg" height="300" alt="">
        </div>
      <section class="post">
      <article>
        <h2>Titulo del articulo</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi porro repellat, officia, illum ipsa nam voluptates exercitationem ullam tempore, reiciendis magnam repudiandae recusandae praesentium quod veritatis expedita aliquam incidunt esse.</p>
          </article>
        </section>
    </section>
    <aside>
        <div class="widget">
            <h3 class="titulo">Articulos destacados</h3>
            <ul>
                <li><a href="#">Texto de ejemplo</a></li>
                <li><a href="#">Texto de ejemplo</a></li>
                <li><a href="#">Texto de ejemplo</a></li>
                <li><a href="#">Texto de ejemplo</a></li>
                <li><a href="#">Texto de ejemplo</a></li>
            </ul>
        </div>
        <div class="widget">
            <h3 class="titulo">Informacion</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus reiciendis perferendis fugiat veniam maxime officiis, voluptatibus hic. Mollitia, similique, magni exercitationem modi laboriosam corrupti iste nisi tempore velit natus placeat.</p>
        </div>
    </aside>
    <footer>
        <p>Juan Jesus Salas 2022 - Todos los derechos reservados</p>
    </footer>
</div>
    </body>
</html>